.container-user {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    width: 300px;
    height: 200px;
    justify-self: center;
    border-radius: 40px;
    background: #dedede;
    box-shadow:  9px 9px 26px #7f7f7f,
                -9px -9px 26px #ffffff;
}

.name {
    margin: 25px 0 5px 30px;
}

.company {
    margin: 0 0 20px 45px;
}

.website {
    margin: 0 0 20px 45px;
}